.QRcodeReader{
  position: absolute;
  z-index: 100;
  left: 5vw;
  top: 5vh;
  height: 90vh;
  width: 90vw;
}

.QRcodeReader section{
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0;
}

.QRcodeReader section div {
  padding-top: 0 !important;
}