.CD{
  background-color: var(--color-primary-1);
  display: flex;
  flex-direction: column;
}

.CD .Main{
  width: 100%;
}

.CD .Main .Menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-primary-1);
}

.CD .Main .Menu .History{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.CD .Main .Menu .History button{
  display: flex;
  margin: 5px 10px;
  padding: 5px 12px;
  border: none;
  border-radius: 8px;
  background-color: var(--color-secundary-1);
  box-shadow: 2px 4px 4px 0px var(--color-shadow-1);
}

.CD .Main .Menu ul{
  width: 100%;
  display: flex;
  overflow-x: scroll;
  /* background-color: var(--color-secundary-2); */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.CD .Main .Menu ul::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.CD .Main .Menu li{
  white-space: nowrap;
  padding: 5px 8px;
  margin: 0 5px 5px;
  border-radius: 6px;
  background-color: var(--color-primary-4);
}

.CD .Main .Menu .StandsEmpty{
  height: 36px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CD .Main .Items{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-2);
}

.CD .Main .Item{
  width: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.CD .Main .ItemFooter{
  display: flex;
  justify-content: space-between;
}

.CD .Main .Items ul{
  width: 100%;
  height: calc(100vh - calc(var(--height-header) + 45px + 80px));
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  overflow-y: auto;
}

.CD .Main .Items li{
  /* position: relative; */
  width: 110px;
  min-height: 172px;
  background-color: var(--color-primary-3);
  margin: 10px;
  padding: 5px 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
}
.CD .Main .Items li.unavailable{
  background-color: var(--color-gray-300);
}

.CD .Main .Items svg{
  height: 20px;
}
.CD .Main .Items p{
  color: var(--color-gray-800);
  display: flex;
  align-items: center;
}
.CD .Main .Items p#name{
  width: 110px;
  align-items: center;
  justify-content: center;
  padding: 3px 3px;
}
.CD .Main .Items p#price{
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
  min-width: 42px;
}
.CD .Main .Items p#stock{
  display: flex;
  justify-content: space-between;
  min-width: 42px;
  margin: 0 5px;
}
.CD .Main .Items p#amount{
  /* position: absolute;
  top: -4px;
  right: -10px; */
  margin: 3px 0 0 0;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-font-1);
}

.CD .Main .Items .ItemImage{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background-color: var(--color-gray-300);
}
.CD .Main .Items .ItemImage img{
  height: 100%;
  width: 100%;
}

.CD .Main .Items .ItemsEmpty{
  flex-grow: 1;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--color-primary-2);
  height: calc(100vh - calc(var(--height-header) + 16px + 45px + 80px));
}

.CD .Main .Footer{
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary-4);
}

.CD .Main .Footer p{
  display: flex;
  align-items: center;
  margin: 5px 8px; 
}

.CD .Main .Footer p#total{
  font-size: 18;
  width: 50%;
}

.CD .Main .Footer button{
  display: flex;
  margin: 5px 8px;
  padding: 5px 12px;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 4px 4px 0px var(--color-shadow-1);
}

/* === Pop up === */
.CD .Purchase{
  z-index: 20;
  position: fixed;
  top: calc(50vh - 45vh);
  left: calc(50vw - 45vw);
  width: 90vw;
  border-radius: 10px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.CD .Purchase h3{
  margin: 8px 0 4px;
}

.CD .Purchase .Cart{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.CD .Purchase .Cart p#title{
  width: 95%;
  background-color: var(--color-primary-2);
  border-radius: 4px;
  padding: 2px 0;
  justify-content: center;
  font-weight: 600;
}

.CD .Purchase .Cart ul{
  width: 95%;
  max-height: 40vh;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  background-color: var(--color-primary-2);
  overflow-y: auto;
  overflow-x: hidden;
}
.CD .Purchase .Cart li{
  width: 100%;
  height: 28px;
  margin: 5px 3px;
  border-radius: 4px;
  background-color: var(--color-primary-3);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.CD .Purchase .Cart input{
  display: flex;
  align-items: center;
  border: none;
  height: 19px;
  border-radius: 2px;
  padding: 0 2px;
  background-color: #ffffff80;
}
.CD .Purchase .Cart p{
  margin: 2px 5px;
  display: flex;
  align-items: center;
  color: var(--color-gray-800);
}
.CD .Purchase .Cart p#name{
  width: 50%;
}
.CD .Purchase .Cart div#price{
  display: flex;
  align-items: center;
  margin: 0 5px 0 0;
  padding: 0 2px;
  border-radius: 4px;
  background-color: #ffffff50;
}
.CD .Purchase .Cart input#price{
  width: 30px;
  margin: 0 5px 0 2px;
  display: flex;
  align-items: center;
}
.CD .Purchase .Cart span#price{
  width: 30px;
  margin: 0 5px 0 2px;
  padding: 0 4px;
  font-size: 14px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  background-color: #ffffff80;
}
.CD .Purchase .Cart div#amount{
  display: flex;
  align-items: center;
  padding: 0 2px;
  margin: 2px 5px 2px 0;
  border-radius: 4px;
  background-color: #ffffff50;
}
.CD .Purchase .Cart input#amount{
  width: 20px;
  margin: 0 2px;
  display: flex;
  align-items: center;
}
.CD .Purchase .Cart p#total{
  color: var(--color-font-3);
}

.CD .Purchase .Payment{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CD .Purchase .Payment p{
  display: flex;
  justify-content: center;
  align-items: center;
}
.CD .Purchase .Payment p#total{
  margin: 0 10px 0 0;
}
.CD .Purchase .Payment input#donation{
  font-size: 16px;
  max-width: 100px;
  padding: 2px 4px;
  margin: 4px 0 8px;
  text-align: center;
  border: none;
  background-color: var(--color-secundary-1);
  border-radius: 4px;
}
.CD .Purchase .Payment .PaymentMethod{
  display: flex;
  padding: 3px 5px;
}
.CD .Purchase .PaymentMethod input{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.CD .Purchase .PaymentMethod span{
  margin: 0 5px 0 0;
}
.CD .Purchase .PaymentMethod label{
  margin: 3px 5px;
  padding: 3px 8px;
  border-radius: 6px;
  background-color: var(--color-primary-4);
  box-shadow: 2px 4px 4px 0px var(--color-shadow-2);
}
.CD .Purchase .PaymentMethod label.check{
  background-color: var(--color-primary-3);
  box-shadow: inset 1px 2px 2px 0px var(--color-shadow-2);
}

.CD .Purchase .Footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 10px 10px;
}
.CD .Purchase .FooterConfirm{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 10px;
  margin: 6px 0 10px;
  border-radius: 4px;
  background-color: var(--color-secundary-1);
}
.CD .Purchase .Footer button{
  display: flex;
  margin: 5px 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  background-color: var(--color-secundary-1);
  box-shadow: 2px 4px 4px 0px var(--color-shadow-1);
}
.CD .Purchase .FooterConfirm button{
  display: flex;
  margin: 0 10px;
  padding: 5px 12px;
  border: none;
  border-radius: 8px;
  background-color: var(--color-secundary-2);
  box-shadow: 2px 4px 4px 0px var(--color-shadow-1);
}

.CD .LastSales{
  z-index: 20;
  position: fixed;
  top: calc(50vh - 20vh);
  left: calc(50vw - 45vw);
  width: 90vw;
  border-radius: 10px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.CD .LastSales h3{
  margin: 8px 0 5px;
}
.CD .LastSales p{
  font-size: 14px;
}

.CD .LastSales .MainSub{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 6px;
}
.CD .LastSales .MainSub ul.ListofCustomers{
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.CD .LastSales .MainSub ul.ListofSales{
  width: 100%;
  padding: 5px 5px 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.CD .LastSales .MainSub ul.ListofGoods{
  width: 100%;
  padding: 5px 5px 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.CD .LastSales .MainSub li.ItemCustomer{
  width: 100%;
  padding: 0 4px 0 6px;
  margin: 2px 0;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-secundary-3);
}
.CD .LastSales .MainSub li.ItemSale{
  width: 100%;
  margin: 2px 0;
  padding: 2px 3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 5px;
  background-color: var(--color-secundary-2);
}
.CD .LastSales .MainSub p#stand{
  display: flex;
  padding: 0 3px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary-3);
  border-radius: 4px;
  margin: 4px 0 0;
  padding: 2px 3px;
}
.CD .LastSales .MainSub li.ItemGood{
  width: 100%;
  margin: 2px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: var(--color-primary-1);
}
.CD .LastSales .MainSub p{
  display: flex;
  margin: 2px 3px;
  padding: 0 3px;
  align-items: center;
  justify-content: space-between;
}
.CD .LastSales .MainSub p#name{
  flex: 1;
}
.CD .LastSales .MainSub p#itemID{
  flex: 1;
} 
.CD .LastSales .MainSub p#quantity{
  min-width: 40px;
  padding: 0 5px;
}
.CD .LastSales .MainSub p#price{
  width: 40px;
  padding: 0 5px;
}
.CD .LastSales .MainSub button#discard{
  border: none;
  border-radius: 4px;
  padding: 3px;
  display: flex;
  align-items: center;
  background-color: var(--color-primary-4);
} 
.CD .LastSales .MainSub div#discard{
  padding: 3px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  background-color: var(--color-primary-3);
} 
