#interactive.viewport {
    position: relative;
}

/* #interactive.viewport > canvas, #interactive.viewport > video {
    max-width: 100%;
    width: 100%;
} */

canvas.drawingBuffer{
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
}