.Sellerbackground{
  background-color: var(--color-gray-100);
  display: flex;

  --translateX: calc(50vw - 35px);
  --translateY: calc(-45px);

  --translateX2: calc(calc(31vw - 50vw) + 7px);
  --translateY2: calc(19.375vw - 25px);
}

.SellerMain{
  width: 100%;
}
.SellerMenu{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-primary-5);
}

.SellerTitle{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.SellerTitle.animation{
  animation: S_SpaceContractMobile 1s;
}
.SellerTitle h2{
  margin: 10px 0 10px 10px;
  height: 35px;
  width: 70%;
}

.SellerCardCompact{
  display: flex;
  justify-content: flex-end;
}
.SellerCardCompact button{
  display: relative;
  width: 56px;
  margin: 10px 7px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  background-color: var(--color-primary-6);
  aspect-ratio: 8/5;
}
.SellerCardCompact.animation button{
  animation: S_CardContract 1s;
}
.SellerCardCompact.animation button::after{
  content: "";
  position: absolute;
  background-color: var(--color-primary-6);
  animation: CardAppearContract 1s;
}

.SellerCard{
  position: relative;
  width: 480px;
  margin: 0 0 10px 0;
  border-radius: 10px;
  background-color: var(--color-primary-6);
  aspect-ratio: 8/5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  animation: S_CardExpand 1s;
}
.SellerCard::after {
  content: "";
  position: absolute;
  background-color: var(--color-primary-6);
  animation: CardAppearExpand 1s;
}
.SellerCard.noUse{
  background-color: var(--color-gray-200);
}
.SellerCard.noUse::after {
  content: "";
  position: absolute;
  background-color: var(--color-gray-200);
  animation: CardAppearExpand 1s;
}
.SellerCard button{
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.SellerCard input{
  border: none;
  border-radius: 6px;
  width: 8em;
  margin: 0 5px;
  background-color: #ffffff50;
}
.SellerCard input.CardValid{
  background-color: transparent;
}
.SellerCardHead{
  display: flex;
  justify-content: space-between;
  margin: 5px 8px;
}
.SellerCardNumber{
  display: flex;
}

.SellerCardMain{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 100px 5px 0;
}
.SellerCardMainInvalid{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 50px 5px 0;
}

.SellerCardFooter{
  min-height: 24px;
  display: flex;
  justify-content: flex-end;
  margin: 5px 8px;
}

.SellerHistory{
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.SellerHistory button{
  display: flex;
  margin: -8px 10px 5px;
  padding: 5px 12px;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 4px 4px 0px rgba(4, 80, 113, 0.25);
}

.SellerItems{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray-100);
}
.SellerItems svg{
  height: 20px;
}
.SellerItems ul{
  width: 100%;
  height: calc(100vh - calc(var(--height-header) + 131px));
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  overflow-y: auto;
}
.SellerItems ul.cardExpanded{
  height: calc(100vh - calc(var(--height-header) + 141px + 300px));
  transition: height 0.70s;
}
.SellerItems li{
  /* position: relative; */
  width: 110px;
  min-height: 172px;
  background-color: var(--color-primary-3);
  margin: 10px;
  padding: 5px 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
}
.SellerItems li.unavailable{
  background-color: var(--color-primary-2);
}
  .SellerItems p{
  color: var(--color-gray-800);
  display: flex;
  align-items: center;
}
.SellerItems p#name{
  width: 110px;
  align-items: center;
  justify-content: center;
  padding: 3px 3px;
}
.SellerItems p#price{
  display: flex;
  justify-content: space-between;
  margin: 0 15px 0 5px;
  min-width: 42px;
}
.SellerItems p#stock{
  display: flex;
  justify-content: space-between;
  min-width: 52px;
}
.SellerItems p#amount{
  /* position: absolute;
  top: -4px;
  right: -10px; */
  margin: 3px 0 0 0;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-font-1);
}
.ItemImage{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background-color: var(--color-primary-5);
}
.ItemImage img{
  height: 100%;
  width: 100%;
}

.SellerItem{
  width: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.SelletItemFooter{
  display: flex;
}

.SellerFooter{
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary-4);
}
.SellerFooter p{
  display: flex;
  align-items: center;
  margin: 5px 8px; 
}
.SellerFooter p#total{
  font-size: 18;
  width: 50%;
}
.SellerFooter button{
  display: flex;
  margin: 5px 8px;
  padding: 5px 12px;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 4px 4px 0px rgba(4, 80, 113, 0.25);
}

/* Pop up */
.SellerPurchase{
  z-index: 20;
  position: fixed;
  top: calc(50vh - 20vh);
  left: calc(50vw - 45vw);
  width: 90vw;
  border-radius: 10px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SellerCardMini{
  width: 480px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: var(--color-primary-6);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.SellerCardMini.noUse{
  background-color: var(--color-gray-200);
}
.SellerCardMini button{
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.SellerCardMini input{
  border: none;
  border-radius: 6px;
  width: 8em;
  margin: 0 5px;
  background-color: #ffffff50;
}
.SellerCardMini input.CardValid{
  background-color: transparent;
}
.SellerCardMiniCode{
  padding: 5px 8px;
  display: flex;
  align-items: center;
}
.SellerCardMiniBalance{
  min-height: 25px;
  padding: 5px 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.SellerCardMiniBalance p{
  display: flex;
  align-items: center;
}

.SellerPurchaseCart{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SellerPurchaseCart ul{
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SellerPurchaseCart li{
  width: 100%;
  margin: 3px;
  padding: 2px 5px;
  background-color: var(--color-primary-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.SellerPurchaseCart input{
  display: flex;
  align-items: center;
  border: none;
  border-radius: 2px;
  padding: 0 2px;
  background-color: #ffffff50;
}
.SellerPurchaseCart p{
  display: flex;
  align-items: center;
  color: var(--color-gray-800);
}
.SellerPurchaseCart p#name{
  width: 50%;
}
.SellerPurchaseCart div#price{
  display: flex;
  align-items: center;
  margin: 0 5px 0 0;
  padding: 0 2px;
  border-radius: 2px;
  background-color: #ffffff50;
}
.SellerPurchaseCart input#price{
  width: 30px;
  display: flex;
  align-items: center;
}
.SellerPurchaseCart div#amount{
  display: flex;
  align-items: center;
  padding: 0 2px;
  border-radius: 2px;
  background-color: #ffffff50;
}
.SellerPurchaseCart input#amount{
  width: 20px;
  display: flex;
  align-items: center;
}
.SellerPurchaseCart p#total{
  color: var(--color-font-1);
}

.SellerPurchaseFooter{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.SellerPurchaseFooter button{
  display: flex;
  margin: 0 10px;
  padding: 5px 12px;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 4px 4px 0px rgba(4, 80, 113, 0.25);
}

.SellerLastSales{
  z-index: 20;
  position: fixed;
  top: calc(50vh - 20vh);
  left: calc(50vw - 45vw);
  width: 90vw;
  border-radius: 10px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SellerListLastSales{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SellerListLastSales ul.ListLastSales{
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SellerListLastSales ul.ListofGoods{
  width: 100%;
  padding: 5px 5px 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SellerListLastSales li.ItemSale{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.SellerListLastSales li.ItemGood{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary-3);
}
.SellerListLastSales p{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.SellerListLastSales p#name{
  flex: 1;
}
.SellerListLastSales p#itemID{
  flex: 1;
} 
.SellerListLastSales p#quantity{
  min-width: 40px;
  padding: 0 5px;
}
.SellerListLastSales p#price{
  width: 40px;
  padding: 0 5px;
}
.SellerListLastSales button#discard{
  border: none;
  border-radius: 4px;
  padding: 3px;
  display: flex;
  align-items: center;
  background-color: var(--color-primary-4);
} 
.SellerListLastSales p#discard{
  padding: 3px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  background-color: var(--color-primary-5);
} 


@media only screen and (max-width: 767px) {
  /* Styles for mobile devices */
  .SellerCard{
    width: 62%;
    margin: 0 10px 10px;
    animation: S_CardExpandMobile 1s;
  }
  .SellerCardCompact.animation button{
    animation: S_CardContractMobile 1s;
  }

  .SellerItems ul.cardExpanded{
    height: calc(100vh - calc(var(--height-header) + 141px + 38.75vw));
  }

  .SellerCardMini{
    width: 80%;
    border-radius: 10px;
  }
}

@keyframes S_CardExpand {
  0% {
    width: 56px;
    aspect-ratio: 8/5;
    border-radius: 6px;
    transform: translateX(calc(50vw - 35px));
  }
  70% {
    width: 480px;
    aspect-ratio: 8/5;
    border-radius: 10px;
    transform: translateX(0);
  }
  100% {
    width: 480px;
    aspect-ratio: 8/5;
    border-radius: 10px;
    transform: translateX(0);
  }
}
@keyframes S_CardExpandMobile {
  0% {
    width: 56px;
    aspect-ratio: 8/5;
    border-radius: 6px;
    transform: translate(var(--translateX),var(--translateY));
  }
  70% {
    width: 62%;
    aspect-ratio: 8/5;
    border-radius: 10px;
    transform: translate(0, 0);
  }
  100% {
    width: 62%;
    aspect-ratio: 8/5;
    border-radius: 10px;
    transform: translate(0, 0);
  }
}

@keyframes S_CardContract {
  0% {
    width: 480px;
    aspect-ratio: 8/5;
    border-radius: 10px;
    transform: translateX(calc(calc(240px - 50vw) + 7px));
  }
  65% {
    width: 56px;
    aspect-ratio: 8/5;
    border-radius: 6px;
    transform: translateX(0);
  }
  100% {
    width: 56px;
    aspect-ratio: 8/5;
    border-radius: 6px;
    transform: translateX(0);
  }
}
@keyframes S_CardContractMobile {
  0% {
    position: absolute;
    width: 62vw;
    aspect-ratio: 8/5;
    border-radius: 10px;
    transform: translate(var(--translateX2),var(--translateY2));
  }
  65% {
    position: absolute;
    width: 56px;
    aspect-ratio: 8/5;
    border-radius: 6px;
    transform: translateX(0);
  }
  100% {
    position: absolute;
    width: 56px;
    aspect-ratio: 8/5;
    border-radius: 6px;
    transform: translateX(0);
  }
}

@keyframes S_SpaceContractMobile {
  0% {
    height: calc(38.75vw + 65px);
  }
  65% {
    height: 55px;
  }
  100% {
    height: 55px;
  }
}