.ST_background{
  display: flex;
  min-height: calc(100vh - var(--height-header));
  background-color: var(--color-primary-2);
  flex-direction: column;
}
.ST_Header{
  background-color: var(--color-primary-1);
}
.ST_Header h2{
  padding: 10px 10px 0;
}
.ST_Menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ST_Menu button{
  display: flex;
  margin: 5px 10px;
  padding: 5px 12px;
  border: none;
  border-radius: 8px;
  background-color: var(--color-secundary-1);
  box-shadow: 2px 4px 4px 0px rgba(4, 80, 113, 0.25);
}

.ST_Menu .Filtro{
  margin: 5px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ST_Menu .Filtro h3{
  padding: 0 6px;
}

.ST_Menu select#filter{
  height: 22px;
  border-radius: 4px;
  padding: 0 4px;
}

.ST_Main{
  height: calc(100vh -(var(--height-header)) -96px);
}

.ST_Main ul{
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-2);
}
.ST_Main li{
  margin: 2px 6px;
  padding: 3px 8px;
  display: flex;
  align-items: center;
  background-color: var(--color-primary-3);
}
.ST_Main li .deleted{
  background-color: var(--color-gray-600);
}

.ST_Main li .ImageIcon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
}
.ST_Main img{
  height: 43px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ST_Main p{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ST_Main p#name{
  flex: 10;
  padding: 0 0 0 5px;
}
.ST_Main p#price{
  margin: 0 8px;
  min-width: 56px;
  flex: 3;
  padding: 0 2px;
  border-radius: 2px;
  background-color: #ffffff50;
}
.ST_Main p#stock{
  min-width: 53px;
  flex: 3;
  padding: 0 2px;
  border-radius: 2px;
  background-color: #ffffff50;
}
.ST_Main p#stock.unavailable{
  color: var(--color-primary-4);
}
.ST_Main p#sold{
  min-width: 53px;
  flex: 3;
  padding: 0 2px;
  border-radius: 2px;
  background-color: #ffffff50;
}

.ST_NewItem{
  z-index: 20;
  position: fixed;
  top: calc(50vh - 40vh);
  left: calc(50vw - 40vw);
  width: 80vw;
  border-radius: 10px;
  padding: 10px 0 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.ST_NewItem button{
  display: flex;
  margin: 5px 8px;
  padding: 5px 12px;
  border: none;
  border-radius: 8px;
  background-color: var(--color-secundary-1);
  box-shadow: 2px 4px 4px 0px rgba(4, 80, 113, 0.25);
}

.ST_NewItem .Inputs{
  width: 80%;
}
.ST_NewItem .Inputs input{
  width: 100%;
  height: 22px;
  border-radius: 4px;
  margin-left: 2px;
  padding: 0 4px;
}

.ST_NewItem .Item{
  display: flex;
  align-items: center;
}
.ST_NewItem .Price{
  display: flex;
  align-items: center;
}
.ST_NewItem .Stock{
  display: flex;
  align-items: center;
}
.ST_NewItem .Check{
  display: flex;
  flex-direction: column;
  padding: 2px 10px;
}
.ST_NewItem .Check span{
  color: red;
  font-size: 14px;
}
.ST_NewItem .Image{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  min-height: 40vh;
  max-height: 60vh;
  background-color: var(--color-gray-200);
}
.ST_NewItem .Image img{
  height:100%;
  max-height: 60vh;
  width:100%;
  object-fit: contain;
}

.ST_NewItem .ImageInput{
  display: flex;
}

.ST_NewItem .Select select{
  min-width: 70px;
  height: 22px;
  border-radius: 4px;
  margin: 2px;
  padding: 0 4px;
}

.ST_NewItem .ItemFooter{
  display: flex;
  align-items: center;
}
.ST_NewItem .ItemFooterDelete{
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: var(--color-secundary-2);
}
.ST_NewItem .ItemFooterDelete p{
  padding: 0 4px 0 10px;
}


.ST_CropImage{
  z-index: 30;
  position: fixed;
  top: 5vh;
  left: 2vw;
  height: 90vh;
  width: 96vw;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.CropCamva{
  position: relative;
  width: 85vw;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray-600);
}

.ST_CropImage button{
  margin: 20px 10px 10px;
  padding: 5px 12px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  border-width: 0;
  background-color: var(--color-secundary-1);
}