.ST_Menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ST_Menu button{
  display: flex;
  margin: 5px 8px;
  padding: 5px 12px;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 4px 4px 0px rgba(4, 80, 113, 0.25);
}

.ST_Menu .Filtro{
  margin: 5px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ST_Main ul{
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray-100);
}
.ST_Main li{
  margin: 2px 6px;
  padding: 3px 8px;
  display: flex;
  align-items: center;
  background-color: var(--color-primary-2);
}
.ST_Main li .ImageIcon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
}
.ST_Main img{
  height: 43px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ST_Main p{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ST_Main p#name{
  flex: 10;
  padding: 0 0 0 5px;
}
.ST_Main p#price{
  margin: 0 8px;
  min-width: 36px;
  flex: 2;
  padding: 0 2px;
  border-radius: 2px;
  background-color: #ffffff50;
}
.ST_Main p#stock{
  min-width: 53px;
  flex: 3;
  padding: 0 2px;
  border-radius: 2px;
  background-color: #ffffff50;
}
.ST_Main p#stock.unavailable{
  color: var(--color-primary-4);
}
.ST_Main p#sold{
  min-width: 53px;
  flex: 3;
  padding: 0 2px;
  border-radius: 2px;
  background-color: #ffffff50;
}

.ST_NewItem{
  z-index: 20;
  position: fixed;
  top: calc(50vh - 48vh);
  left: calc(50vw - 40vw);
  width: 80vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.ST_NewItem button{
  display: flex;
  margin: 5px 8px;
  padding: 5px 12px;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 4px 4px 0px rgba(4, 80, 113, 0.25);
}

.ST_NewItem .Item{
  display: flex;
  align-items: center;
}
.ST_NewItem .Price{
  display: flex;
  align-items: center;
}
.ST_NewItem .Stock{
  display: flex;
  align-items: center;
}
.ST_NewItem .Check{
  display: flex;
  flex-direction: column;
  padding: 2px 10px;
}
.ST_NewItem .Image{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  height: 45vh;
  max-height: 60vh;
}
.ST_NewItem .Image img{
  height:100%;
  width:100%;
  object-fit: contain;
}

.ST_CropImage{
  z-index: 30;
  position: fixed;
  top: calc(50vh - 45vh);
  left: calc(50vw - 40vw);
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.CropCamva{
  position: relative;
  width: 80vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray-600);
}

.ST_CropImage button{
  margin: 10px;
}