@use "@styles/variables" as *;

.headerBackground {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $color-secundary-1;

  .linkLogo {
    display: flex;
    align-items: center;
    margin: 2px 6px;

    img {
      width: 32px;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    height: $public-header-height;

    .navigate {
      display: flex;

      li {
        display: flex;
        align-items: center;

        .selected {
          text-decoration: underline;
        }
      }
    }
  }

  .title {
    font-size: 1.5rem;
    font-weight: 500;
    color: $color-font-2;
    margin: 0 20px;
  }

  .spaceHolder {
    width: 32px;
    margin: 6px;
  }
}
