@use "@styles/variables" as *;

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $public-header-height;
  background-color: $color-secundary-1;
  align-content: center;

  li {
    display: flex;
    align-items: center;
  }
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  color: $color-font-2;
  margin: 0 20px;
}
