$body-bg-color: white;

$color-gray-100: #f4f3f1;
$color-gray-200: #dddbd8;
$color-gray-300: #ccc9c6;
$color-gray-400: #aeaba7;
$color-gray-500: #8a8784;
$color-gray-600: #656360;
$color-gray-700: #4b4a47;
$color-gray-800: #31302e;
$color-gray-900: #1f1d1b;

$color-primary-1: #fef8f3;
$color-primary-2: #e3d2c3;
$color-primary-3: #ffb9b3;
$color-primary-4: #ff8a78;
$color-secundary-1: #aac8f0;
$color-secundary-2: #80a6d9;
$color-secundary-3: #425670;
$color-card: #fa6b54;
$color-cardInv: #d19a94;

$color-font-1: #045071;
$color-font-2: #43140d;
$color-font-2-5: #491f19A0;
$color-font-3: #041c2c;
$color-font-4: #384252;

$color-shadow-1: #041c2c60;
$color-shadow-2: #42241F60;

$border-radius: 8px;
$header-height: var(--height-header, 60px);

$padding-horizontal-mobile: 10px;
$padding-horizontal-sm: 50px;
$padding-horizontal-md: 100px;
$padding-horizontal: 150px;
