.L_background {
  width: 100%;
  background: var(--color-secundary-1);
  min-height: calc(100vh - var(--height-header));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.L_body {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.L_body h1{
  margin: 50px 0;
  color: var(--color-gray-700)
}

.L_form{
  width: 95%;
}

.LoginInput {
  height: 30px;
  display: flex;
  align-items: center;
  margin: 30px 10px;
  border-bottom: solid 1px;
  border-color: var(--color-gray-600);
  background: white;
}
.LoginInput label{
  color: var(--color-gray-600);
  padding: 0 6px;
}
.LoginInput.focused{
  border-color: var(--color-secundary-1);
}
.LoginInput.focused label{
  color: var(--color-secundary-1);
}
.LoginInput.unfocOK{
  border-color: var(--color-correct-1);
  transition: border-color 0.2s;
}
.LoginInput.unfocOK label{
  color: var(--color-correct-1);
  transition: color 0.2s;
}
.LoginInput.unfocNO{
  border-color: var(--color-incorrect-1);
  transition: border-color 0.2s;
}
.LoginInput.unfocNO label{
  color: var(--color-incorrect-1);
  transition: color 0.2s;
}

.IconUser{
  margin-left: 3px;
  margin-right: -3px;
}

.LoginInput input {
  height: 24px;
  width: 100%;
  border: none;
  border-radius: 0;
}

.LoginInput input:focus{
  color: var(--color-secundary-1);
}
.LoginInput.unfocOK input{
  color: var(--color-correct-1);
}
.LoginInput.unfocNO input{
  color: var(--color-incorrect-1);
}

.L_submit{
  margin: 0 10px 25px;
  display: flex;
  justify-content: flex-end;
}
.L_submit button{
  display: flex;
  align-items: center;
  padding: 5px 12px;
  border: none;
  border-radius: 10px;
  background: var(--color-secundary-1);
  box-shadow: 2px 4px 4px 0px rgba(4, 80, 113, 0.25);
}
.L_submit p{
  padding-left: 10px;
  font-weight: 600;
}

.L_signup {
  display: flex;
  padding: 10px;
}
.L_signup p{
  padding-right: 4px;
}

@keyframes colorChange {
  0% {
    background-color: gray;
  }
  100% {
    background-color: green;
  }
}

@media only screen and (max-width: 767px) {
  /* Styles for mobile devices */
  .L_body {
    width: 95vw;
    margin-bottom: 15vh;
  }
  .L_body h1{
    margin: 25px 0 0;
    color: var(--color-gray-700)
  }
}

@media only screen and (min-width: 768px) {
  /* Styles for desktop devices */
  .L_body {
    width: 800px;
    margin-bottom: 20vh;
  }
}