.S_background {
  width: 100%;
  background: var(--color-secundary-1);
  min-height: calc(100vh - var(--height-header));
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.S_body {
  background: white;
  display: flex;
  width: 67vw;
  flex-direction: column;
  align-items: center;
}
.S_body h1{
  margin: 50px 0;
  color: var(--color-gray-700)
}
.S_body Form{
  width: 90%;
}

.S_Inputs{
  margin: 30px 10px 0;
}
.S_Inputs .PasswordCopy{
  margin: 30px 0 0;
}
.SignupInput input {
  height: 24px;
  width: 100%;
  border: none;
  border-radius: 0;
}

.SignupInput input:focus{
  color: var(--color-primary-6);
}
.SignupInput {
  height: 30px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px;
  border-color: var(--color-gray-600);
  background: white;
}
.SignupInput label{
  color: var(--color-gray-600);
  padding: 0 6px;
}
.SignupInput.focused{
  border-color: var(--color-secundary-1);
}
.SignupInput.focused label{
  color: var(--color-secundary-1);
}
.SignupInput.unfocOK{
  border-color: var(--color-correct-1);
  transition: border-color 0.2s;
}
.SignupInput.unfocOK label{
  color: var(--color-correct-1);
  transition: color 0.2s;
}
.SignupInput.unfocNO{
  border-color: var(--color-incorrect-1);
  transition: border-color 0.2s;
}
.SignupInput.unfocNO label{
  color: var(--color-incorrect-1);
  transition: color 0.2s;
}

.S_Submit{
  margin: 30px 10px;
  display: flex;
  justify-content: flex-end;
}
.S_Submit button{
  display: flex;
  align-items: center;
  padding: 5px 12px;
  border: none;
  border-radius: 10px;
  background: var(--color-secundary-1);
  box-shadow: 2px 4px 4px 0px var(--color-shadow-1);
}
.S_Submit p{
  padding-left: 10px;
  font-weight: 600;
}

@media only screen and (max-width: 767px) {
  /* Styles for mobile devices */
  .S_body {
    width: 95vw;
    margin-bottom: 15vh;
  }
  .S_body h1{
    margin: 25px 0 0;
    color: var(--color-gray-700)
  }
}