.UserPage{
  /* width: 100%; */
  min-height: calc(100vh - var(--height-header));
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-primary-1);
}

.UserPage .Main{
  display: flex;
  flex-direction: column;
  width: calc(100% - 10px);
  padding-bottom: 20px;
  margin: -80px 5px 0;
  border-radius: 8px;
  background-color: white;
  box-shadow: 2px 3px 4px 2px rgba(4, 80, 113, 0.25);
}
.UserPage .Main button{
  border: none;
  background: transparent;
  color: var(--color-font-1);
}

.UserPage .Username1,
.UserPage .Fullname1,
.UserPage .Username2,
.UserPage .Fullname2,
.UserPage .AssociationStand,
.UserPage .Password{
  display: flex;
  align-items: center;
  margin: 20px 10px 0;
}
.UserPage .Username1 .Input,
.UserPage .Fullname1 .Input{
  display: flex;
  align-items: center;
}
.UserPage .Username1 .Input svg,
.UserPage .Fullname1 .Input svg,
.UserPage .AssociationStand .Association svg,
.UserPage .AssociationStand .Stand svg{
  padding: 0 6px;
}
.UserPage .Username1,
.UserPage .Fullname1,
.UserPage .AssociationStand{
  justify-content: space-between;
  background-color: white;
  height: 30px;
  border-bottom: solid 1px;
  border-color: var(--color-gray-600);
}
.UserPage .Username2,
.UserPage .Fullname2{
  justify-content: space-between;
  background-color: white;
}

.UserPage .Username2 .SignupInput,
.UserPage .Fullname2 .SignupInput{
  margin-right: -48px;
}
.UserPage .Password .SignupInput{
  margin-right: -24px;
}
/* .Password input, */
.UserPage .UsernameInput input,
.UserPage .FullnameInput input{
  font-size: 16px;
}

.UserPage .Association,
.UserPage .Stand{
  display: flex;
  padding: 0 8px 0 0;
}

.UserPage .Password{
  display: flex;
  align-items: flex-end;
}
.UserPage .InputPassword{
  width: 100%;
}
.UserPage .UserOldPassword{
  margin: 0 0 20px;
}

.UserPage .PasswordCopy{
  margin: 20px 0 0;
}

.UserPage .UserOldPassword label{
  display: flex;
}

.UserPage .UserMenu{
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
  /* background-color: green; */
}
.UserPage .PasswordMenu{
  height: 133px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.UserPage .UserMenu .LogoutConfirm{
  display: flex;
  align-items: center;
  background-color: var(--color-secundary-1);
  margin: 0 10px;
  border-radius: 10px;
  padding: 0 4px;
  box-shadow: 2px 4px 4px 0px rgba(4, 80, 113, 0.25);
}
.UserPage .UserMenu .LogoutConfirm p{
  display: flex;
  align-items: center;
  margin: 0 8px;
  font-size: 14px;
}
.UserPage .UserMenu button{
  height: 31px;
  display: flex;
  align-items: center;
  padding: 5px 12px;
  margin: 0 10px;
  border: none;
  border-radius: 10px;
  background: var(--color-secundary-1);
  box-shadow: 2px 4px 4px 0px rgba(4, 80, 113, 0.25);
}
.UserPage .UserMenu .LogoutConfirm button{
  padding: 2px 8px;
  height: 26px;
  background: var(--color-secundary-2);
}