.Userbackground{
  width: 100%;
  min-height: calc(100vh - var(--height-header));
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.UserUN,
.UserFN,
.UserAS,
.UserPW{
  display: flex;
  padding: 30px 0 0;
  /* background-color: green; */
}
.UserPW{
  display: flex;
  align-items: end;
}
.UserPasswords{
  width: 100%;
}
.UserOldPassword{
  margin: 0 0 30px;
}
.UserMenu{
  display: flex;
  padding: 15px 0;
  /* background-color: green; */
}
.UserPasswordButtons{
  height: 153px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Userbackground button{
  height: 31px;
  display: flex;
  align-items: center;
  padding: 5px 12px;
  margin: 0 0 0 10px;
  border: none;
  border-radius: 10px;
  background: var(--color-primary-5);
  box-shadow: 2px 4px 4px 0px rgba(4, 80, 113, 0.25);
}