@use "@styles/variables" as *;

.inputGroup {
  height: 32px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background: $color-gray-000;
  border-radius: $border-radius;

  input {
    width: 100%;
    border: none;
    padding: 0 8px;
    border-radius: 0;
    background-color: transparent;
    font-size: 0.875rem;
  }

  &.unfocOK {
    border-color: $color-font-2;
    transition: border-color 0.2s;

    input {
      color: $color-font-2;
    }
  }

  &.unfocNO {
    border-color: $color-font-1;
    transition: border-color 0.2s;

    input {
      color: $color-font-1;
    }
  }

  &:focus-within {
    border-color: $color-gray-900;

    input {
      color: $color-gray-900;
    }
  }

  .messageError {
    z-index: 20;
    font-size: 0.75rem;
    position: absolute;
    right: 6px;
    top: 30px;
    color: $color-primary-4;
    background-color: $color-primary-1;
    padding: 2px 5px;
    max-width: 200px;
    border-radius: $border-radius;
  }
}
