@use "@styles/variables" as *;

.inputGroup {
  height: 30px;
  display: flex;
  align-items: center;
  margin: 30px 10px;
  border-bottom: solid 1px;
  border-color: $color-gray-600;
  background: $color-gray-000;

  &:focus-within {
    border-color: $color-gray-600;

    label {
      color: $color-gray-900;
    }
  }

  &.unfocOK {
    border-color: $color-font-2;
    transition: border-color 0.2s;

    label {
      color: $color-font-2;
      transition: color 0.2s;
    }
  }

  &.unfocNO {
    border-color: $color-font-1;
    transition: border-color 0.2s;

    label {
      color: $color-font-1;
      transition: color 0.2s;
    }
  }

  input {
    height: 24px;
    width: 100%;
    border: none;
    border-radius: 0;
    background-color: transparent;

    &:focus {
      color: $color-gray-900;
    }

    &.unfocOK {
      color: $color-font-2;
    }

    &.unfocNO {
      color: $color-font-1;
    }
  }

  label {
    color: $color-gray-600;
    padding: 0 6px;
  }

  .iconInput {
    margin-left: 3px;
    margin-right: -3px;
  }
}
