@use "@styles//variables" as *;

.background {
  display: flex;
  align-items: center;
  padding: 6px 10px;

  select {
    border: none;
    width: 200px;
    font-size: 16px;
    border-radius: 4px;
    padding: 6px;
    background-color: $color-gray-100;
  }
}
