.Body {
  min-height: calc(100vh - var(--height-header));
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-gray-100);
}
.MainTitle{
  padding: 5px 0 15px 0;
}
.MainSection{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.MainSubtitle{
  width: 92%;
  margin: 0 0 8px 0;
  padding: 5px 4vw;
  display: flex;
  justify-content: start;
  background-color: var(--color-primary-1);
}
.MainRole{
  width: 100%;
}
.MainFrame{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.MainStocktaking{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.MainAdmin{
  display: flex;
  justify-content: space-between;
}
.MainFrame2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.Home {
  width: 100%;
  min-height: calc(100vh - var(--height-header));
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-primary-5);
}

.HomeTitle {
  margin: 68px 0 0;
}

.HomeSubtitle {
  margin: 78px 0 0 0;
}

.HomeUser {
  margin: 68px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HomeAuth {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 236px;
  height: 42px;
  border-radius: 8px;
  background: var(--color-primary-3);
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  color: var(--color-font-3);
}

.Hometext {
  padding: 5px;
}

@media only screen and (max-width: 767px) {
  /* Styles for mobile devices */
  .MainSection{
    width: 100vw;
  }
  .MainRole{
    display: flex;
    justify-content: space-around;
  }
  .MainFrame{
    width: 42%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    background-color: var(--color-primary-3);
  }
  .MainStocktaking{
    width: 92%;
    margin: 4vw 0;
    height: 30vw;
    border-radius: 10px;
    background-color: var(--color-primary-3);
  }
  .MainAdmin{
    width: 92%;
  }
  .MainFrame2{
    width: 28vw;
    aspect-ratio: 1/1;
    border-radius: 10px;
    background-color: var(--color-primary-3);
  }
}