.Home_Logged {
  min-height: calc(100vh - var(--height-header));
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-gray-100);
}
.Home_Logged .Title{
  padding: 5px 0 15px 0;
}
.Home_Logged .Main{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Home_Logged .Subtitle{
  width: 100%;
  display: flex;
  justify-content: start;
  background-color: var(--color-primary-1);
}
.Home_Logged .Subtitle h2{
  padding: 5px 15px;
}
.Home_Logged .Section{
  width: 92%;
  display: flex;
  justify-content: space-between;
}
.Home_Logged .Frame1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.Home_Logged .Stocktaking{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.Home_Logged .Admin{
  display: flex;
  justify-content: space-between;
}
.Home_Logged .Frame3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.Home_Logged .Frame4{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.Home_Unlogged {
  width: 100%;
  min-height: calc(100vh - var(--height-header));
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-primary-5);
}
.Home_Unlogged .Title {
  margin: 68px 0 0;
}

.Home_Unlogged .Subtitle {
  margin: 78px 0 0 0;
}

.Home_Unlogged .User {
  margin: 68px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Home_Unlogged .User p{
  padding: 5px;
}
.Home_Unlogged .Auth {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 236px;
  height: 42px;
  border-radius: 8px;
  background: var(--color-primary-3);
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  color: var(--color-font-3);
}

@media only screen and (max-width: 767px) {
  /* Styles for mobile devices */
  .Home_Logged .Section{
    width: 92%;
    margin: 4vw;
  }
  .Home_Logged .Role{
    display: flex;
    justify-content: space-around;
  }
  .Home_Logged .Frame1{
    width: 42%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    background-color: var(--color-primary-3);
  }
  .Home_Logged .Stocktaking{
    width: 92%;
    aspect-ratio: 3;
    margin: 4vw 0;
    border-radius: 10px;
    background-color: var(--color-primary-3);
  }
  .Home_Logged .Admin{
    width: 92%;
    margin: 4vw 0;
  }
  .Home_Logged .Frame3{
    width: 100%;
    aspect-ratio: 3;
    border-radius: 10px;
    background-color: var(--color-primary-3);
  }
  .Home_Logged .Frame4{
    width: 30%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    background-color: var(--color-primary-3);
  }
}