@use "@styles/variables" as *;
@use "@styles/breakpoint" as *;

.base {
  position: relative;

  &.unfocOK {
    .select {
      color: $color-accepted;
      transition: color 0.4s;
    }
  }

  &.unfocNO {
    .select {
      color: $color-unaccepted;
      transition: color 0.4s;
    }
  }

  .select {
    border: none;
    width: 200px;
    height: 32px;
    font-size: 1rem;
    border-radius: $border-radius;
    padding: 0 6px;
    background-color: $color-gray-000;

    @media (max-width: $mobile) {
      font-size: 0.875rem;
      padding: 3px 6px;
    }
  }

  .messageError {
    z-index: 20;
    font-size: 0.75rem;
    position: absolute;
    right: 6px;
    top: 30px;
    color: $color-primary-4;
    background-color: $color-primary-1;
    padding: 2px 5px;
    max-width: 200px;
    border-radius: $border-radius;
  }
}

.checkBackground {
  display: flex;
  align-items: center;
  overflow-x: auto;
  width: 100%;
  padding: 6px 3px;
  box-sizing: border-box;
  box-shadow: $color-shadow-2 0 1px 4px inset;
  scrollbar-width: none;
  -ms-overflow-style: none;

  .container::-webkit-scrollbar {
    display: none;
  }

  .selected {
    background-color: $color-secundary-2;
    box-shadow: none;
    box-shadow: $color-shadow-1 0 2px 4px inset;
  }

  label {
    display: flex;
    padding: 3px 12px;
    margin: 0 3px;
    border-radius: $border-radius;
    box-shadow: $color-shadow-1 0 2px 4px;

    span {
      font-weight: 500;
      user-select: none;
      white-space: nowrap;
      color: $color-font-2;
    }
  }

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
