.NavAdmin{
  background-color: var(--color-primary-2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.MenuAdmin{
  display: flex;
}
.NavElements{
  margin: 4px 16px;
  padding: 5px 8px;
  border-radius: 4px;
  background-color: var(--color-primary-4);
}
.NavElements.selected{
  background-color: var(--color-primary-3);
}
.NavElements a{
  color: var(--color-font-2);
}
.NavElements.selected a{
  color: var(--color-font-2);
}