.AllUsers{
  min-height: calc(100vh - var(--height-header));
}
.AllUsers .Menu{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 4px 10px;
}
.AllUsers .Filter{
  height: 24px;
  display: flex;
}
.AllUsers .Main{
  display: flex;
  padding: 2px 8px;
  background-color: var(--color-primary-1);
}
.AllUsers .Main ul{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.AllUsers .Main li{
  width: 100%;
  margin: 2px 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary-2);
}
.AllUsers .Main p{
  padding: 0 2px;
  display: flex;
  justify-content: flex-start;
}
.AllUsers .Main p#userID{
  flex: 1;
  min-width: 30px;
}
.AllUsers .Main p#username{
  flex: 5;
  min-width: 50px;
}
.AllUsers .Main p#fullname{
  flex: 9;
  min-width: 80px;
}
.AllUsers .Main .AStand{
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 100px;
}
.AllUsers .Main .AStand button{
  margin: 0 2px;
  border: none;
  background-color: transparent;
}
.AllUsers .Main p#association{
  justify-content: center;
  flex: 1;
  margin: 0 2px;
}
.AllUsers .Main p#stand{
  justify-content: center;
  flex: 1;
  margin: 0 2px;
}
.AllUsers .Main p#superuser{
  flex: 1;
  min-width: 64px;
  justify-content: center;
}