.Statistics{
  min-height: calc(100vh - var(--height-header));
}

.Statistics .Menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Statistics .Menu h1{
  margin: 2px 8px;
}
.Statistics .Menu button{
  display: flex;
  margin: 0 5px;
  padding: 5px 12px;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 4px 4px 0px rgba(4, 80, 113, 0.25);
}

.Statistics .Main{
  display: flex;
  flex-direction: column;
  padding: 2px 8px;
  background-color: var(--color-primary-1);
}
.Statistics .Main ul{
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray-100);
}
.Statistics .Main li{
  margin: 2px 6px;
  padding: 3px 8px;
  display: flex;
  align-items: center;
  background-color: var(--color-primary-2);
}
.Statistics .Main li#header{
  background-color: var(--color-primary-3);
}
.Statistics .Main p{
  display: flex;
  align-items: center;
  justify-content: start;
}

.Statistics .Main p#ID{
  flex: 1;
  min-width: 40px;
}
.Statistics .Main p#stand{
  flex: 2;
  min-width: 80px;
}
.Statistics .Main p#hour{
  flex: 3;
  min-width: 145px;
}
.Statistics .Main p#user{
  flex: 2;
  min-width: 85px;
}
.Statistics .Main p#card{
  flex: 3;
  min-width: 140px;
}
.Statistics .Main p#total{
  flex: 1;
  min-width: 65px;
}
.Statistics .Main p#items{
  flex: 1;
  min-width: 70px;
}

.Statistics .ListGoods{
  z-index: 20;
  position: fixed;
  top: calc(50vh - 20vh);
  left: calc(50vw - 40vw);
  width: 80vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-gray-100);
}

.Statistics .ListGoods .List svg{
  padding: 0 2px 0 0;
}

.Statistics .ListGoods .Header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Statistics .ListGoods .Hour{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Statistics .ListGoods .List{
  display: flex;
  width: 100%;
  align-items: center;
}
.Statistics .ListGoods h2{
  display: flex;
  align-items: center;
  padding: 2px 8px;
  margin: 0 5px;
}
.Statistics .ListGoods h3{
  display: flex;
  align-items: center;
  padding: 2px 8px;
}

.Statistics .ListGoods ul{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Statistics .ListGoods li{
  margin: 2px 6px;
  padding: 3px 8px;
  display: flex;
  align-items: center;
  background-color: var(--color-primary-2);
}
.Statistics .ListGoods li#header{
  background-color: var(--color-primary-3);
}
.Statistics .ListGoods img{
  width: 36px;
  padding: 0 4px 0 0;
}
.Statistics .ListGoods .ImageIcon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  padding: 0 4px 0 0;
}
.Statistics .ListGoods p{
  display: flex;
  align-items: center;
  justify-content: start;
}
.Statistics .ListGoods span{
  display: flex;
  align-items: center;
  font-weight: 700;
  width: 100%;
  justify-content: space-between;
}

.Statistics .ListGoods p#card{
  flex: 6;
  min-width: 140px;
}
.Statistics .ListGoods p#total{
  flex: 1;
  min-width: 90px;
  justify-content: space-between;
}

.Statistics .ListGoods p#ID{
  flex: 1;
  min-width: 40px;
}
.Statistics .ListGoods p#item{
  flex: 3;
  min-width: 40px;
}
.Statistics .ListGoods .List .Price{
  flex: 2;
  min-width: 180px;
  padding: 2px 4px;
  display: flex;
  background-color: #ffffffa0;
}
.Statistics .ListGoods p#quantity{
  flex: 1;
  min-width: 110px;
  justify-content: space-between;
}
.Statistics .ListGoods p#price{
  flex: 1;
  min-width: 70px;
  justify-content: space-between;
}
.Statistics .ListGoods p#subtotal{
  flex: 1;
  min-width: 90px;
  justify-content: space-between;
}

